templates/everyrow-merge.json
{
    "name": "EveryRow Merge",
    "flow": [
        {
            "id": 1,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {
                        "name": "leftTable",
                        "value": "[{\"company\":\"OpenAI\",\"product\":\"ChatGPT\"},{\"company\":\"Anthropic\",\"product\":\"Claude\"},{\"company\":\"Google\",\"product\":\"Gemini\"}]"
                    },
                    {
                        "name": "rightTable",
                        "value": "[{\"name\":\"Open AI\",\"ceo\":\"Sam Altman\",\"hq\":\"San Francisco\"},{\"name\":\"Anthropic Inc\",\"ceo\":\"Dario Amodei\",\"hq\":\"San Francisco\"},{\"name\":\"Google LLC\",\"ceo\":\"Sundar Pichai\",\"hq\":\"Mountain View\"}]"
                    }
                ],
                "scope": "roundtrip"
            },
            "metadata": {"designer": {"x": 0, "y": 0}}
        },
        {
            "id": 2,
            "module": "app#custom-app-oonbtb:startMergeTask",
            "version": 1,
            "parameters": {},
            "mapper": {
                "leftTable": "{{1.leftTable}}",
                "rightTable": "{{1.rightTable}}",
                "task": "Match companies by name, accounting for abbreviations and variations like 'OpenAI' vs 'Open AI' or 'Google' vs 'Google LLC'."
            },
            "metadata": {"designer": {"x": 300, "y": 0}}
        },
        {
            "id": 3,
            "module": "app#custom-app-oonbtb:getTaskStatus",
            "version": 1,
            "parameters": {},
            "mapper": {"taskId": "{{2.taskId}}"},
            "metadata": {"designer": {"x": 600, "y": 0}}
        },
        {
            "id": 4,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {"timeout": "120"},
            "metadata": {"designer": {"x": 900, "y": 0}}
        },
        {
            "id": 5,
            "module": "app#custom-app-oonbtb:getTaskStatus",
            "version": 1,
            "parameters": {},
            "mapper": {"taskId": "{{2.taskId}}"},
            "metadata": {"designer": {"x": 1200, "y": 0}}
        },
        {
            "id": 6,
            "module": "app#custom-app-oonbtb:getTaskResults",
            "version": 1,
            "parameters": {},
            "mapper": {"taskId": "{{2.taskId}}"},
            "metadata": {"designer": {"x": 1500, "y": 0}}
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {"roundtrips": 1, "maxErrors": 3, "autoCommit": true, "autoCommitTriggerLast": true, "sequential": false},
        "designer": {"orphans": []}
    }
}
